// webstarsltd styles will go here.
/*
@File: Spet Template Styles

* This file contains the styling for the actual webstarsltd template, this
is the file you need to edit to change the look of the
template.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

==== INDEX PAGE CSS

** - Default CSS
** - Preloader CSS
** - Navbar CSS
** - Main Banner CSS
** - Footer CSS
** - Go Top CSS
** - Home CSS
*/

/*================================================
Default CSS
=================================================*/
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Bitter:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

$font-family: "Bitter", sans-serif;
$light-green-color: #329999;
$white-color: #ffffff;
$black-color: #0e314c;
$navlink-color: #ababab;
$paragraph-color: #777a7b;
$transition: 0.5s;
$font-size: 14px;
$insight-color: #294f82;

body {
  font-family: $font-family;
  padding: 0;
  margin: 0;
  font-size: $font-size;
  overflow-x: hidden;
}

:root {
  scroll-behavior: inherit;
}

.custom-container {
  max-width: 940px;
  margin: 0 auto;
}

.custom-container-md {
  max-width: 868px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

a {
  color: $black-color;
  display: inline-block;
  transition: $transition;
  text-decoration: none;
  outline: 0 !important;

  &:hover,
  &:focus {
    color: $light-green-color;
    text-decoration: none;
  }
}

.separator {
  background: #d0d0d0;
  height: 2px;
  max-width: 1122px;
  margin: 0 auto;
}

.testimonial-separator {
  padding: {
    top: 16px;
    bottom: 80px;
  }
}

.d-table {
  width: 100%;
  height: 100%;

  &-cell {
    vertical-align: middle;
  }
}

p {
  color: $paragraph-color;
  line-height: 1.8;

  &:last-child {
    margin-bottom: 0;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black-color;
  font-weight: 500;
}

.text-right {
  text-align: end;
}

:focus {
  outline: 0 !important;
}

.ptb-80 {
  padding: {
    top: 80px;
    bottom: 80px;
  }
}

.ptb-40 {
  padding: {
    top: 40px;
    bottom: 40px;
  }
}

.pt-80 {
  padding-top: 80px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-80 {
  padding-bottom: 80px;
}


/*================================================
Navbar CSS
=================================================*/
.container {
  max-width: 1070px !important;
}

#header {
  &.headroom {
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: transparent;
    transition: 0.3s;
    padding-top: 50px;

    &.is-sticky {
      box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
      background-color: $white-color  !important;

      padding: {
        top: 15px;
        bottom: 15px;
      }
    }
  }

  &.headroom--pinned {
    transform: translateY(0%);
  }

  &.headroom--unpinned {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
  }
}

.startp-nav {
  background: transparent;

  nav {
    padding: 0;

    .navbar-brand {
      padding: 0;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }

    .navbar-nav {
      .nav-item {
        position: relative;
        padding: 15px 0;

        a {
          margin: {
            left: 10px;
            right: 10px;
          }

          font: {
            weight: 600;
            size: 15px;
          }

          letter-spacing: 0.2px;
          color: $navlink-color;

          padding: {
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
          }

          &:hover,
          &:focus,
          &.active {
            color: #2d2d2d;
          }

          svg {
            width: 14px;
          }
        }

        &:hover {
          ul {
            opacity: 1;
            visibility: visible;
            top: 100%;
          }
        }
      }
    }
  }
}

/* Navbar toggler */
.navbar-toggler {
  border: none;
  border-radius: 0;
  padding: 0;

  &:focus {
    outline: 0 !important;
    box-shadow: none;
  }

  .icon-bar {
    width: 35px;
    transition: all 0.3s;
    background: #221638;
    height: 4px;
    display: block;
    border-radius: 3px;
  }

  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
    left: 4px;
    position: relative;
  }

  .middle-bar {
    opacity: 0;
    margin: 5px 0;
  }

  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
    left: 4px;
    position: relative;
  }

  &.collapsed {
    .top-bar {
      transform: rotate(0);
      left: 0;
    }

    .middle-bar {
      opacity: 1;
    }

    .bottom-bar {
      transform: rotate(0);
      left: 0;
    }
  }
}

// Mobile and iPad Navbar
@media only screen and (max-width: 991px) {
  #header {
    padding: {
      top: 15px;
      bottom: 15px;
    }

    &.headroom {
      border-bottom: 1px solid #eeeeee;

      &.is-sticky {
        border-bottom: none;
      }
    }
  }
}

@media only screen and (max-width: 500px) {

  .home-banner-process,
  .clientLogoSec-main,
  .pb-80,
  section.testimonialSection,
  .home-banner-project,
  section.innerBanner.all-insight-banner,
  .home-banner-profile,
  footer {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

/*================================================
Footer CSS
=================================================*/
footer {
  background: linear-gradient(135deg, #63adad 0%, #234675 51.42%, #393939 100%);

  padding: {
    top: 100px;
    bottom: 165px;
  }

  .footer_logo {
    margin-bottom: 75px;
  }

  blockquote {
    font-family: "Bitter";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    font-style: italic;
    letter-spacing: 0.275px;
    color: #ffffff;
    max-width: 400px;
  }

  .author-info-d-sm {
    display: none;
  }

  .footer_info_last {
    margin-left: 0px !important;
  }

  .footer_info_first {
    margin-left: 5px !important;
    font-family: "Poppins";
  }

  .footer_info {
    margin-left: 30px;

    h4 {
      font-weight: 700;
      font-size: 30px;
      line-height: 20px;
      letter-spacing: 0.375px;
      color: #ffffff;
      margin-bottom: 30px;
      font-family: "Poppins";
    }

    ul {
      padding-left: 0px;

      li {
        list-style: none;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #ffffff;
        font-family: "Poppins";

        a {
          color: #ffffff;
          font-family: "Poppins";

          &:hover,
          &:active {
            color: #63adad;
          }
        }
      }
    }
  }

  .author-info {
    display: block;
    margin-top: 17px;

    .author {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      letter-spacing: 0.2px;
      color: #ffffff;
    }
  }

  .copyright-terms {
    display: block;
    margin-top: 17px;
    margin-left: 5px;

    &-details {
      ul {
        display: inline;
        display: flex;
        flex-direction: row;
        margin: 0px;
        padding: 0px;

        li {
          list-style: none;

          &:not(:last-child) {
            margin-right: 20px;
          }

          &:first-child {
            margin-right: 20px;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: #ffffff;
          }

          a {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: #ffffff;
          }
        }
      }
    }
  }
}

/*=============================
Go Top CSS
===============================*/
.go-top {
  position: fixed;
  cursor: pointer;
  bottom: 30px;
  right: -100%;
  color: $white-color;
  background-color: $light-green-color;
  z-index: 1;
  width: 45px;
  text-align: center;
  height: 45px;
  border-radius: 10px 0 0 10px;
  line-height: 46px;
  transition: $transition;
  z-index: 999;

  &:hover {
    color: $white-color;
    background: $light-green-color;
  }

  &.active {
    right: 0;
  }
}

.main-text-area {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 15px;
  }
}

/*=============================
Home CSS
===============================*/
.home-banner-single-insight {
  width: 100%;
  max-width: 100%;

  padding: {
    top: 288px;
    bottom: 190px;
  }

  h1 {
    text-align: center;

    .d-block {
      color: #2D2D2D;
      font-size: 52px;
      line-height: 62px;
      letter-spacing: 0.5px;
      font-family: "Poppins";
      font-weight: 600;
    }

    .theme-color {
      font-family: "Bitter";
      color: #294F82;
      font-weight: 500;
      font-size: 56px;
      line-height: 62px;
      letter-spacing: -0.807692px;
    }
  }
}

.home-banner-single-project {
  width: 100%;
  max-width: 100%;

  padding: {
    top: 288px;
    bottom: 128px;
  }

  h1 {
    text-align: center;
    color: #329999;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 62px;
    text-align: center;
    letter-spacing: -0.472727px;

    .black {
      color: #2D2D2D;
    }
  }
}

.home-banner,
.home-banner-project,
.home-banner-profile,
.home-banner-process {
  width: 100%;
  max-width: 100%;

  padding: {
    top: 290px;
    bottom: 120px;
  }

  h1 {
    text-align: center;

    .d-block {
      color: #294f82;
      font-size: 55px;
      line-height: 62px;
      letter-spacing: 0.5px;
      font-family: "Bitter";
    }

    .theme-color {
      font-family: "Poppins";
      color: #309c99;
      font-weight: 600;
      font-size: 52px;
      line-height: 62px;
      letter-spacing: -0.75px;
    }
  }
}

.home-banner-profile {
  h1 {
    text-align: center;

    .d-block {
      font-size: 52px;
      letter-spacing: -1.56px;
      font-weight: 400;
    }

    .theme-color {
      font-family: "Poppins";
      letter-spacing: -1.56px;
    }
  }
}

.home-banner-project {
  padding: {
    bottom: 193px;
  }
}

.singleproject-sec5-main {
  .pr-0 {
    padding-right: 0px !important;
  }

  .pl-0 {
    padding-left: 0px !important;
  }
}

.singprojectSec5-cont {
  width: 100%;
  height: 100%;
  background-color: #ececec;

  padding: {
    top: 44px;
    left: 50px;
    right: 50px;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.singprojectSec5-cont h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin-bottom: 14px;
}

.singprojectSec5-cont h6 {
  color: #2d2d2d;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 40px;
  letter-spacing: -0.5px;

  span {
    color: #2d2d2d;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    letter-spacing: -0.5px;
  }
}

.singprojectSec5-cont span {
  color: #ababab;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.2px;
  margin-bottom: 40px;
  display: block;
}

.singprojectSec5-cont span b {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: -0.9px;
  color: #ababab;
  margin-right: 5px;
}

.singprojectSec5-img {
  width: 100%;
  height: 100%;
}

.singprojectSec5-img.left {
  background: #2d2d2d;
}

.singprojectSec5-img img {
  width: 100%;
}

.envelope-section {
  padding-top: 35px;
  padding-bottom: 85px;
}

.global-aud,
.global-audience {
  .row {
    .col-lg-6:first-child {
      padding-right: 0px !important;
    }

    .col-lg-6:last-child {
      padding-left: 0px !important;
    }
  }

  &-image {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
    }
  }

  .section-content {
    background-color: #ececec;
    height: 459px;
    position: relative;

    h6 {
      color: #2d2d2d;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.2px;

      padding: {
        top: 43px;
        left: 50px;
      }
    }

    h4 {
      color: #2d2d2d;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 35px;
      line-height: 40px;
      letter-spacing: -0.5px;
      max-width: 400px;
      margin-top: 20px;

      padding: {
        left: 50px;
      }
    }

    .stats {
      position: absolute;
      bottom: 30px;

      h4 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 45px;
        letter-spacing: -0.9px;
        color: #ababab;

        span {
          font-weight: 500;
          font-size: 15px;
          line-height: 22px;
          letter-spacing: 0.2px;
          font-size: 20px;
        }
      }
    }
  }
}

.global-audience {
  padding-bottom: 82px;
}

.envelope-section-project {
  padding-bottom: 100px;
}

.envelope-section,
.envelope-section-project {
  padding-top: 35px;
  padding-bottom: 85px;

  a {
    display: block;

    &:hover {
      transform: translateY(-20px);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }

  .row {
    .col-lg-6:first-child {
      padding-right: 0px !important;
    }

    .col-lg-6:last-child {
      padding-left: 0px !important;
    }
  }

  &-image {
    background-color: #2d2d2d;
    height: 459px;
    text-align: center;
    display: flex;
    justify-content: center;

    img {
      display: block;
      margin: auto;
    }
  }

  .section-content {
    background-color: #ececec;
    height: 459px;
    position: relative;

    h6 {
      color: #2d2d2d;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.2px;

      padding: {
        top: 45px;
        left: 50px;
      }
    }

    h4 {
      margin-top: 18px;
      color: #2d2d2d;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 35px;
      line-height: 40px;
      letter-spacing: -0.5px;
      max-width: 420px;

      padding: {
        left: 45px;
      }
    }

    .stats {
      position: absolute;
      bottom: 34px;

      padding: {
        left: 6px;
      }

      h4 {
        & {
          margin-bottom: 0px;
          margin: 0px;
        }

        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        letter-spacing: -0.9px;
        color: #ababab;

        span {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          letter-spacing: 0.2px;
        }
      }
    }
  }
}

.envelope-section-project {
  padding-bottom: 112px;
}

.single-insight-display {
  margin-bottom: 70px;
}

.insight-display-list {
  margin-bottom: 46px;

  a {
    display: inline-block !important;

    &:hover {
      transform: translateY(-20px);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
}

.insight-display {

  .light h4,
  .light h6 {
    color: #fff !important;
  }

  .dark h6 {
    color: #294F82 !important;
  }

  .dark h4 {
    color: #7450A7 !important;
  }

  &-one {
    position: relative;
    width: 470px;
    height: 560px;

    h6 {
      color: $insight-color;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.2px;

      padding: {
        top: 48px;
        left: 46px;
      }
    }

    h4 {
      color: $insight-color;
      font-family: "Bitter";
      font-style: normal;
      font-weight: 500;
      font-size: 35px;
      line-height: 43px;
      letter-spacing: -0.5px;
      max-width: 400px;
      margin-top: 15px;

      padding: {
        left: 46px;
      }
    }

    &-img {
      position: absolute;
      bottom: 28px;
      left: 0;
      right: 0;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &-two {
    position: relative;
    float: right;
    width: 470px;
    height: 560px;

    h6 {
      color: $insight-color;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.2px;

      padding: {
        top: 48px;
        left: 50px;
      }
    }

    h4 {
      color: #329999;
      font-family: "Bitter";
      font-style: normal;
      font-weight: 500;
      font-size: 35px;
      line-height: 43px;
      letter-spacing: -0.5px;
      max-width: 350px;
      margin-top: 15px;

      padding: {
        left: 50px;
      }
    }

    &-img {
      position: absolute;
      bottom: 28px;
      left: 0;
      right: 0;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.marketing-guide-section {
  padding: {
    top: 70px;
    bottom: 75px;
  }
}

.single-insight-guide {
  padding: {
    top: 70px;
    bottom: 66px;
  }
}

.marketing-guide {
  background-color: #140e10;

  .row {
    .col-lg-6:first-child {
      padding-right: 0px !important;
    }

    .col-lg-6:last-child {
      padding-left: 0px !important;
    }
  }

  &-content {
    height: 459px;
    position: relative;

    h6 {
      color: #fff;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.2px;

      padding: {
        top: 45px;
        left: 50px;
      }
    }

    h4 {
      color: #57b6b6;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 35px;
      line-height: 40px;
      letter-spacing: -0.5px;
      max-width: 460px;
      margin-top: 15px;

      padding: {
        left: 50px;
      }

      span.d-block {
        font-weight: 700;
        color: #fff;
      }
    }

    button {
      display: block;
      background-color: #ececec;

      margin: {
        left: 50px;
      }

      position: absolute;
      bottom: 45px;
      width: 160px;
      height: 56px;
      border-radius: 50px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.2px;
      color: #2d2d2d;
      transition: all $transition;

      &:hover {
        background-color: transparent;
        color: #dbccd0;
        border: 1px solid #dbccd0;
      }
    }
  }

  &-image {
    height: 459px;
    text-align: center;
    display: flex;
    justify-content: center;

    img {
      display: block;
      margin: auto;
    }
  }
}

.text {
  padding-top: 30px;
  padding-bottom: 92px;

  h2 p {
    font-family: "Poppins";
    max-width: 1000px !important;
    margin: 0 auto;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 62px;
    text-align: center;
    letter-spacing: -0.75px;
    color: #777a7b;
  }

  .underline-style {
    text-decoration-line: underline;
    color: #329999;
    transition: all 0.5s;

    &:hover {
      color: #777a7b;
      cursor: pointer;
    }
  }
}

.testimonialSection {
  padding: 110px 0px;
}

.testimonialSection-single-project {
  padding-top: 110px;
  padding-bottom: 35px;
}

.testiSec-main {
  .row {
    .col-lg-3 {
      padding-right: 0px !important;
      width: 24% !important;
    }

    .col-lg-8 {
      padding-left: 0px !important;
      width: 71% !important;
    }
  }
}

.testiSec-img img {
  border-radius: 50%;
}

.testiSec-cont h6 {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  padding-bottom: 10px;
  letter-spacing: -0.5px;
  color: #329999;
  margin-bottom: 0px;
  font-family: 'Poppins';
}

.testiSec-cont p {
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: -0.5px;
  color: #777a7b;
  padding-bottom: 12px;
  font-style: italic;
  margin-top: -6px;
}

.testiSec-cont ul {
  padding-left: 0rem;
}

.testiSec-cont a {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.3;
  display: inline;
  letter-spacing: -0.5px;
  text-decoration-line: underline;
  color: #329999;
}

.testiSec-cont a:hover {
  color: #294f82;
}

.mn-social-icon li {
  display: inline-block;
  padding-right: 20px;
}

.mn-social-icon li.last {
  padding-right: 0;
}

.mn-social-icon li a {
  color: #777a7b;
}

.mn-social-icon li a:hover {
  color: #294f82;
}

.profileSection1 {
  padding: {
    top: 72px;
    bottom: 25px;
  }
}

.profileSec1-card {
  text-align: center;
  min-height: 450px;
}

.profileSec1-img {
  text-align: center;
  padding-bottom: 15px;
}

.profileSec1-img img {
  border-radius: 50%;
    height: 220px;
    width: 200px;
}

.profileSec1-card h6 {
  font-weight: 700;
  font-size: 18px;
  font-family: "Poppins";
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.24px;
  text-decoration-line: underline;
  color: #2d2d2d;
}

.profileSec1-card p {
  padding-top: 0px;
  margin-top: -10px;
  font-weight: 400;
  font-family: "Poppins";
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 5px;
  text-align: center;
  letter-spacing: 0.24px;
  color: #2d2d2d;
  transition: all 0.5s;
  text-decoration: underline;

  &:hover {
    text-decoration: underline dotted;
  }
}

.profile-fb {
  margin-left: -18px;
}

.profileSec1-card ul li a {
  font-size: 30px;
  color: #ababab;
}

/*Process Page Start*/

/*Process Section 1 Start*/
.processSection1 {
  padding: 68px 0 910px;

  .row {
    .col-lg-6:first-child {
      width: 55%;
    }

    .col-lg-6:last-child {
      width: 45%;
    }
  }
}

.processSec1-r-cont {
  padding-right: 35px;
}

.processSec1-r-cont p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.225px;
  color: #0e1828;
  padding-bottom: 10px;
}

.processSec1-r-cont p a {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.225px;
  text-decoration-line: underline;
  display: inline;
  color: #329999;
}

.processSec1-r-cont p a:hover {
  color: #294f82;
}

.processSec1-l-cont {
  padding-left: 5px;
}

.processSec1-l-cont h6 {
  font-weight: 600;
  font-size: 38px;
  line-height: 1.2;

  padding: {
    top: 0px;
    bottom: 0px;
    left: 35px;
    right: 40px;
  }

  text-align: center;
  letter-spacing: -0.527778px;
  color: #57b6b6;
  font-style: italic;
}

.client-logoSection {
  padding-bottom: 70px;
}

.clientLogoSec-hd {
  text-align: center;
  padding: 0 220px 75px;
}

.clientLogoSec-hd h6 {
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  line-height: 42px;
  letter-spacing: 0.33px;
  color: #329999;
}

.clientLogoSec-main ul {
  display: flex;
  flex-wrap: wrap;
}

.clientsLogo {


  .logo-img {
    width: 16.66%;
    height: 130px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  }
}

.clientLogoSec-main ul li {
  font-size: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #E2E7E8;
  flex: 0 0 16.66%;
  width: 16.66%;
  height: 130px;
  // border-bottom: 1px solid #d0d0d0;
  // border-right: 1px solid #d0d0d0;
  text-align: center;
}

// .clientLogoSec-main ul li:nth-child(6n) {
//   border-right: none;
// }

// .clientLogoSec-main ul li:nth-last-child(6),
// .clientLogoSec-main ul li:nth-last-child(5),
// .clientLogoSec-main ul li:nth-last-child(4),
// .clientLogoSec-main ul li:nth-last-child(3),
// .clientLogoSec-main ul li:nth-last-child(2),
// .clientLogoSec-main ul li:nth-last-child(1) {
//   border-bottom: none;
// }

// .clientLogoSec-main ul li a img {
//   transform: scale(1);
//   transition: all 0.4s ease-in-out;
// }

// .clientLogoSec-main ul li a:hover img {
//   transform: scale(1.2);
//   transition: all 0.4s ease-in-out;
// }

.all-insight-banner {
  padding-top: 296px !important;
  padding-bottom: 148px !important;
}

.innerBanner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: {
    top: 290px;
    bottom: 120px;
  }
}

.innerBanner h1 {
  font-weight: 600;
  font-size: 55px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: -0.472727px;
  color: #329999;
}

.innerBanner h1 span {
  color: #2D2D2D
}

.innerBanner h1 b {
  color: #294F82;
  display: inline-block;
}

.singl-project-sec1-img {
  width: 100%;
  height: auto;
  padding: 55px 0 32px 0;
  display: flex;
  align-content: center;
  justify-content: center;
  background: #2D2D2D;
}

/*Single Project Section 2 Start*/
.single-projectSec2 {
  padding: 90px 0;
}

.singl-project-sec2-cont h6 {
  font-weight: 700;
  font-family: 'Poppins';
  font-size: 36px;
  line-height: 46px;
  letter-spacing: -0.5px;
  color: #329999;
  padding-bottom: 10px;
}

.singl-project-sec2-cont p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.225px;
  color: #0E1828;
}


/*Single Project Section 3 Start*/
.single-projectSec3 {
  padding: 120px 0 150px;
  background: linear-gradient(180deg, #294F82 0%, #393939 100%);
}

.singlproSec1-l-cont {
  width: 100%;
  height: 100%;
  padding-right: 60px;
  position: relative;
}

.singlproSec1-l-cont:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  right: 0;
  top: 0;
  margin: auto;
  background: #D0D0D0;
  opacity: 0.4;
}

.singlproSec1-l-cont h1 {
  font-weight: 500;
  font-family: 'Poppins';
  font-size: 36px;
  line-height: 46px;
  padding-bottom: 50px;
  letter-spacing: -0.5px;
  color: #fff;
}

.singlproSec1-l-cont h1 span {
  color: #57B6B6;
  font-family: 'Poppins';
  font-weight: 700;
}

.singlproSec1-l-cont p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  padding-bottom: 25px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

.singlproSec1-l-cont p.last {
  padding-bottom: 0;
}

.singlproSec1-r-cont {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.singlproSec1-r-cont span {
  width: 300px;
  height: 280px;
  margin: auto;
  background-image: url(../images/star.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 60px;
}

.singlproSec1-r-cont span em {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 1;
  /* or 30% */
  text-align: center;
  letter-spacing: -0.909091px;
  color: #FFFFFF;
}

.singlproSec1-r-cont span strong {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: -0.288462px;
  color: #FFFFFF;
}

.singlproSec1-r-cont h5 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  padding-bottom: 20px;
  letter-spacing: -0.5px;
  color: #57B6B6;
}

.singlproSec1-r-cont ul li p {
  padding-bottom: 15px;
  padding: 0px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.213333px;
  color: #FFFFFF;
}

.singlproSec1-r-cont ul li {
  padding-bottom: 15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.213333px;
  color: #FFFFFF;
}

/*Single Project Section 3 End*/

/*Single Project Section 5 Start*/
.singleproject-sec5-main {
  padding: 65px 0 110px;
}

.singprojectSec5-cont {
  width: 100%;
  height: 100%;
  background-color: #ECECEC;
  padding: 45px 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.singprojectSec5-cont h5 {
  padding-bottom: 15px;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: 0.2px;
  color: #2D2D2D;
}

.singprojectSec5-cont h6 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
  letter-spacing: -0.5px;
  color: #2D2D2D;
  padding-bottom: 15px;
}

.singprojectSec5-cont span {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.2px;
  color: #ABABAB;
}

.singprojectSec5-cont span b {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 1;
  color: #ABABAB;
}

.singprojectSec5-img {
  width: 100%;
  height: 100%;
}

.singprojectSec5-img.left {
  background: #2D2D2D;
}

.singprojectSec5-img img {
  width: 100%;
}


/* Single Insights Page Start*/
.singleInsightSection1 {
  padding-bottom: 90px;
}

.singleInsightSec1-main {
  padding: 130px 50px 70px;
}

.singleInsightSec1-main img {
  width: 100%;
}

.singleInsightSection2 {
  padding-bottom: 106px;

  .row {
    .col-lg-8:last-child {
      padding-left: 70px;
    }
  }
}

.singleInsightSec1-profile {
  text-align: center;
}

.single-insight-guide {
  margin-bottom: 0px;
}

.singleInsightSec1-profile h6 {
  font-weight: 900;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #0E1828;
  padding-top: 20px;
}

.singleInsightSec1-profile p {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.2px;
  color: #0E1828;
  margin-bottom: 35px;
  padding-top: 0px;
  margin-top: -5px;
}

.singleInsightSec1-profile a {
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.2px;
  color: #2D2D2D;
  background: #ECECEC;
  border-radius: 28px;
  width: 167px;
  height: 42px;
  line-height: 42px;
}

.singleInsightSec1-profile a:hover {
  background-color: #57B6B6;
  color: #fff;
}

.singleInsightSec1-profile-img img {
  border-radius: 50%;
}


.singleInsightSec1-cont h6 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: -0.5px;
  color: #294F82;
  margin-bottom: 38px;
}

.singleInsightSec1-cont p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  padding-bottom: 12px;
  letter-spacing: 0.2px;
  color: #0E1828;
}

.singleInsightSec1-cont p.last {
  padding-bottom: 0;
}


/*Insights Page Start*/
.insights-Banner-cont h6 {
  margin-left: 5px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.333333px;
  color: #2D2D2D;
}


.insights-Banner-btn ul {
  padding-left: 14px !important;
}

.insights-Banner-btn ul li {
  display: inline-block;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 6px;
}

.insights-Banner-btn ul li button {
  color: #2D2D2D;
  background: #ECECEC;
  border-radius: 28px;
  padding: 0px 20px;
  height: 42px;
  line-height: 42px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.2px;
  outline: none;
  border: none;
  transition: all .5s;
}

.insights-Banner-btn ul li button:hover,
.insights-Banner-btn ul li.current button {
  background-color: #57B6B6;
  color: #fff;
}

.insightSection1 .col-md-6 {
  padding-bottom: 60px;
}

.insightSection1 a {
  width: 100%;
  height: 100%;
}

.insightSec1-card {
  padding: 45px 50px;
  height: 100%;
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: all 0.4s ease-in-out;
}

.insightSection1 a:hover .insightSec1-card {
  box-shadow: 0px 0px 20px 10px rgb(0 0 0 / 25%);
}

.insightSec1-card h5 {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.3;
  letter-spacing: 0.2px;
  color: #294F82;
  padding-bottom: 15px;
}

.insightSec1-card.light h5,
.insightSec1-card.light h6 {
  color: #fff;
}

.insightSec1-card.dark h5 {
  color: #294F82;
}

.insightSec1-card.dark h6 {
  color: #7450A7;
}

.insightSec1-card h6 {
  font-weight: 500;
  font-size: 35px;
  line-height: 1.2;
  letter-spacing: -0.5px;
  color: #294F82;
  padding-bottom: 40px;
}

.insightSec1-card img {
  width: 100%;
}

.insightSec1-btn {
  text-align: center;
  padding: 120px 0 60px;
}

.insightSec1-btn a {
  width: auto;
  height: auto;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.2px;
  color: #2D2D2D;
  background: #ECECEC;
  border-radius: 28px;
  padding: 18px 50px;
}

.insightSec1-btn a:hover {
  background-color: #57B6B6;
  color: #fff;
}


.ReactModal__Overlay.ReactModal__Overlay--after-open {
  background-color: #294f8299 !important;
  z-index: 9999;
}

.nf-inputs-wrapper.wrapper-contact-R1kc span {
  font-family: 'Poppins' !important;
  color: #8D8D8D !important;
  font-weight: 400 !important;
}

.nf-input {
  color: #0E1828 !important;
  background-color: #F6F6F6 !important;
  border: 0px !important;
  -webkit-text-fill-color: #000 !important;
  font-family: 'Poppins';
}

.nf-input-container {
  margin-bottom: 20px !important;
}

span.nf-question-header.header-R1kc {
  font-size: 32px !important;
  color: #329999 !important;
  font-weight: 500 !important;
  font-family: 'Poppins' !important;
  line-height: 40px !important;
  text-align: left !important;
}

div#R1kc {
  border: 0px !important;
}

button#nf-submit-button {
  background-color: #57B6B6 !important;
  width: 200px !important;
  border-radius: 50px !important;
}

.nf-inputs-wrapper.wrapper-contact-R1kc {
  padding: 0px 20px !important;
}

.nf-powered-by-container {
  display: none;
}

.viewMoreParent {
  display: block;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.viewMoreBtn {
  background-color: #ECECEC;
  color: #000;
  outline: none;
  border: none;
  height: 60px;
  width: 200px;
  font-size: 18px;
  border-radius: 50px;
  line-height: 60px;
  transition: .5s all;
  text-align: center;

  &:hover {
    background-color: #57B6B6;
    color: #FFF;
  }
}

.singleInsightSec1-cont {
  p {
    a {
      color: #389C9C !important;
      text-decoration: underline;
    }
  }
}
