// webstarsltd styles will go here.
/*
@File: Spet Template Styles

* This file contains the styling for the actual webstarsltd template, this
is the file you need to edit to change the look of the
template.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

==== INDEX PAGE CSS

** - Default CSS
** - Preloader CSS
** - Navbar CSS
** - Main Banner CSS
** - Footer CSS
** - Go Top CSS
** - Home CSS
*/

/*================================================
Default CSS
=================================================*/
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Bitter:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

$font-family: "Bitter", sans-serif;
$light-green-color: #329999;
$white-color: #ffffff;
$black-color: #0e314c;
$navlink-color: #ababab;
$paragraph-color: #777a7b;
$transition: 0.5s;
$font-size: 14px;
$insight-color: #294f82;

body {
  font-family: $font-family;
  padding: 0;
  margin: 0;
  font-size: $font-size;
  overflow-x: hidden;
}
:root {
  scroll-behavior: inherit;
}
.custom-container {
  max-width: 940px;
  margin: 0 auto;
}
img {
  max-width: 100%;
}
a {
  color: $black-color;
  display: inline-block;
  transition: $transition;
  text-decoration: none;
  outline: 0 !important;

  &:hover,
  &:focus {
    color: $light-green-color;
    text-decoration: none;
  }
}
.separator {
  background: #d0d0d0;
  height: 2px;
}
.d-table {
  width: 100%;
  height: 100%;

  &-cell {
    vertical-align: middle;
  }
}
p {
  color: $paragraph-color;
  line-height: 1.8;

  &:last-child {
    margin-bottom: 0;
  }
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black-color;
  font-weight: 500;
}
.text-right {
  text-align: end;
}
:focus {
  outline: 0 !important;
}
.ptb-80 {
  padding: {
    top: 80px;
    bottom: 80px;
  }
}
.pt-80 {
  padding-top: 80px;
}
.pb-50 {
  padding-bottom: 50px;
}
.pb-80 {
  padding-bottom: 80px;
}

/*================================================
Navbar CSS
=================================================*/
.container {
  max-width: 1070px !important;
}
#header {
  &.headroom {
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: transparent;
    transition: 0.3s;
    padding-top: 50px;

    &.is-sticky {
      box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
      background-color: $white-color !important;
      padding: {
        top: 15px;
        bottom: 15px;
      }
    }
  }
  &.headroom--pinned {
    transform: translateY(0%);
  }
  &.headroom--unpinned {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
  }
}
.startp-nav {
  background: transparent;

  nav {
    padding: 0;

    .navbar-brand {
      padding: 0;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
    .navbar-nav {
      .nav-item {
        position: relative;
        padding: 15px 0;

        a {
          margin: {
            left: 10px;
            right: 10px;
          }
          font: {
            weight: 600;
            size: 15px;
          }
          letter-spacing: 0.2px;
          color: $navlink-color;
          padding: {
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
          }

          &:hover,
          &:focus,
          &.active {
            color: #2d2d2d;
          }
          svg {
            width: 14px;
          }
        }
        &:hover {
          ul {
            opacity: 1;
            visibility: visible;
            top: 100%;
          }
        }
      }
    }
  }
}
/* Navbar toggler */
.navbar-toggler {
  border: none;
  border-radius: 0;
  padding: 0;

  &:focus {
    outline: 0 !important;
    box-shadow: none;
  }

  .icon-bar {
    width: 35px;
    transition: all 0.3s;
    background: #221638;
    height: 4px;
    display: block;
    border-radius: 3px;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
    left: 4px;
    position: relative;
  }
  .middle-bar {
    opacity: 0;
    margin: 5px 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
    left: 4px;
    position: relative;
  }
  &.collapsed {
    .top-bar {
      transform: rotate(0);
      left: 0;
    }
    .middle-bar {
      opacity: 1;
    }
    .bottom-bar {
      transform: rotate(0);
      left: 0;
    }
  }
}

// Mobile and iPad Navbar
@media only screen and (max-width: 991px) {
  #header {
    padding: {
      top: 15px;
      bottom: 15px;
    }
    &.headroom {
      border-bottom: 1px solid #eeeeee;

      &.is-sticky {
        border-bottom: none;
      }
    }
  }
}

/*================================================
Footer CSS
=================================================*/
footer {
  background: linear-gradient(135deg, #63adad 0%, #234675 51.42%, #393939 100%);
  padding: {
    top: 100px;
    bottom: 165px;
  }
  .footer_logo {
    margin-bottom: 50px;
  }

  blockquote {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.275px;
    color: #ffffff;
    max-width: 380px;
  }

  .author-info-d-sm {
    display: none;
  }

  .footer_info {
    h4 {
      font-weight: 700;
      font-size: 30px;
      line-height: 20px;
      letter-spacing: 0.375px;
      color: #ffffff;
      margin-bottom: 30px;
    }

    ul {
      padding-left: 0px;
      li {
        list-style: none;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #ffffff;

        a {
          color: #ffffff;

          &:hover,
          &:active {
            color: #63adad;
          }
        }
      }
    }
  }

  .author-info {
    display: block;
    margin-top: 20px;

    .author {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      letter-spacing: 0.2px;
      color: #ffffff;
    }
  }

  .copyright-terms {
    display: block;
    margin-top: 20px;

    &-details {
      ul {
        display: inline;
        display: flex;
        flex-direction: row;
        margin: 0px;
        padding: 0px;

        li {
          list-style: none;

          &:not(:last-child) {
            margin-right: 20px;
          }

          &:first-child {
            margin-right: 20px;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: #ffffff;
          }

          a {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: #ffffff;
          }
        }
      }
    }
  }
}

/*=============================
Go Top CSS
===============================*/
.go-top {
  position: fixed;
  cursor: pointer;
  bottom: 30px;
  right: -100%;
  color: $white-color;
  background-color: $light-green-color;
  z-index: 1;
  width: 45px;
  text-align: center;
  height: 45px;
  border-radius: 10px 0 0 10px;
  line-height: 46px;
  transition: $transition;
  z-index: 999;

  &:hover {
    color: $white-color;
    background: $light-green-color;
  }

  &.active {
    right: 0;
  }
}
.main-text-area {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 15px;
  }
}

/*=============================
Home CSS
===============================*/

.home-banner {
  width: 100%;
  max-width: 100%;
  padding: {
    top: 290px;
    bottom: 120px;
  }
  h1 {
    text-align: center;

    .d-block {
      color: #294f82;
      font-size: 55px;
      line-height: 62px;
      letter-spacing: 0.5px;
      font-family: "Bitter";
    }
    .theme-color {
      color: #309c99;
      font-size: 55px;
      font-weight: 600;
      font-size: 52px;
      line-height: 62px;
      letter-spacing: -0.75px;
      font-family: "Poppins";
    }
  }
}

.global-aud {
  .row {
    .col-lg-6:first-child {
      padding-right: 0px !important;
    }
    .col-lg-6:last-child {
      padding-left: 0px !important;
    }
  }

  &-image {
    background: linear-gradient(
      135deg,
      #2f4d75 0%,
      #459ccf 51.42%,
      #393939 100%
    );
    height: 459px;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .section-content {
    background-color: #ececec;
    height: 459px;
    position: relative;

    h6 {
      color: #2d2d2d;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.2px;
      padding: {
        top: 43px;
        left: 50px;
      }
    }

    h4 {
      color: #2d2d2d;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 35px;
      line-height: 40px;
      letter-spacing: -0.5px;
      max-width: 410px;
      margin-top: 20px;
      padding: {
        left: 50px;
      }
    }

    .stats {
      position: absolute;
      bottom: 30px;

      h4 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 45px;
        letter-spacing: -0.9px;
        color: #ababab;

        span {
          font-weight: 500;
          font-size: 15px;
          line-height: 22px;
          letter-spacing: 0.2px;
          font-size: 20px;
        }
      }
    }
  }
}

.envelope-section {
  padding-top: 35px;
  padding-bottom: 85px;
  .row {
    .col-lg-6:first-child {
      padding-right: 0px !important;
    }
    .col-lg-6:last-child {
      padding-left: 0px !important;
    }
  }

  &-image {
    background-color: #2d2d2d;
    height: 459px;
    text-align: center;
    display: flex;
    justify-content: center;

    img {
      display: block;
      margin: auto;
    }
  }

  .section-content {
    background-color: #ececec;
    height: 459px;
    position: relative;

    h6 {
      color: #2d2d2d;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.2px;
      padding: {
        top: 45px;
        left: 50px;
      }
    }

    h4 {
      margin-top: 18px;
      color: #2d2d2d;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 35px;
      line-height: 40px;
      letter-spacing: -0.5px;
      max-width: 420px;
      padding: {
        left: 45px;
      }
    }

    .stats {
      position: absolute;
      bottom: 34px;
      padding: {
        left: 6px;
      }

      h4 {
        & {
          margin-bottom: 0px;
          margin: 0px;
        }

        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        letter-spacing: -0.9px;
        color: #ababab;

        span {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          letter-spacing: 0.2px;
        }
      }
    }
  }
}

.insight-display {
  &-one {
    position: relative;
    width: 470px;
    height: 459px;
    background: rgba(63, 160, 215, 0.1);

    h6 {
      color: $insight-color;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.2px;
      padding: {
        top: 48px;
        left: 46px;
      }
    }

    h4 {
      color: $insight-color;
      font-family: "Bitter";
      font-style: normal;
      font-weight: 500;
      font-size: 35px;
      line-height: 43px;
      letter-spacing: -0.5px;
      max-width: 400px;
      margin-top: 15px;
      padding: {
        left: 46px;
      }
    }

    &-img {
      position: absolute;
      bottom: 28px;
      left: 0;
      right: 0;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &-two {
    position: relative;
    float: right;
    width: 470px;
    height: 459px;
    background: rgba(236, 236, 236, 0.5);

    h6 {
      color: $insight-color;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.2px;
      padding: {
        top: 48px;
        left: 50px;
      }
    }

    h4 {
      color: #329999;
      font-family: "Bitter";
      font-style: normal;
      font-weight: 500;
      font-size: 35px;
      line-height: 43px;
      letter-spacing: -0.5px;
      max-width: 350px;
      margin-top: 15px;
      padding: {
        left: 50px;
      }
    }

    &-img {
      position: absolute;
      bottom: 28px;
      left: 0;
      right: 0;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.marketing-guide-section {
  padding: {
    top: 70px;
    bottom: 75px;
  }
}
.marketing-guide {
  background-color: #140e10;
  .row {
    .col-lg-6:first-child {
      padding-right: 0px !important;
    }
    .col-lg-6:last-child {
      padding-left: 0px !important;
    }
  }

  &-content {
    height: 459px;
    position: relative;

    h6 {
      color: #fff;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.2px;
      padding: {
        top: 45px;
        left: 50px;
      }
    }

    h4 {
      color: #57b6b6;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 35px;
      line-height: 40px;
      letter-spacing: -0.5px;
      max-width: 460px;
      margin-top: 15px;
      padding: {
        left: 50px;
      }

      span.d-block {
        font-weight: 700;
        color: #fff;
      }
    }

    button {
      display: block;
      background-color: #ececec;
      margin: {
        left: 50px;
      }
      position: absolute;
      bottom: 45px;
      width: 160px;
      height: 56px;
      border-radius: 50px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.2px;
      color: #2d2d2d;
      transition: all $transition;

      &:hover {
        background-color: transparent;
        color: #dbccd0;
        border: 1px solid #dbccd0;
      }
    }
  }
  &-image {
    height: 459px;
    text-align: center;
    display: flex;
    justify-content: center;

    img {
      display: block;
      margin: auto;
    }
  }
}

.text {
  padding-top: 30px;
  padding-bottom: 92px;
  h2 {
    font-family: "Poppins";
    max-width: 1000px !important;
    margin: 0 auto;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 62px;
    text-align: center;
    letter-spacing: -0.75px;
    color: #777a7b;
  }

  span.underline-style {
    text-decoration-line: underline;
    color: #329999;
  }
}
